*{
	marign:0;
	padding:0;
}
.button{
	width:50px;
	height:50px;
	font-size:25px;
	margin:2px; 
}
.textview{
	width:200px;
	margin:5px;
	height:30px;
	padding:5px;
}

.main{
	position: 	absolute;	
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
}
.bg{
	background:red;
}